.form input{
    display: block;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
.error{
    color: red;
}
.row{
    margin-top: 50px;
}
.leftBlock{
    background-color: rgb(223, 215, 215);
    padding: 20px;
    border-radius:10px;
    height: 20%;
    margin-bottom: 10px;
}
.car{
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.car-insight{
    padding-left: 10px;
}